#main-section {
    background: #eee;
    min-height: 100vh;
    padding: 15px;
}
#title h1{
    color: #5f5e5e;
    font-size: 4rem;
    margin-bottom: 0;
    text-align: center;
}

#title p{
    text-align: center;
    color: #333333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#image img{
    margin:0 auto;
    max-width: 100%;
    display: block;
    height: auto;
    
}
#img-div{
    display: block;
    padding: 10px;
    background: white;
    
}
#img-div #img-caption{
    color: #333333;
    font-size: 16px;
    padding:15px 0 15px 0;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
#tribute-info h3{
    color: #333333;
    margin: 60px 0; 
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#tribute-content{
    color: #333333;
     width: 70vw; 
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#text{
    color: #333333;
    font-weight: bold;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#text a:hover{
    color: rgb(19, 192, 192);
    pointer-events: painted;
    font-weight: bolder;
    text-transform: capitalize;
}
#text a{
    color: darkslategray;
}


#tribute-content ul{
    line-height: 20px;
}

#tribute-content ul li{
    line-height: 25px;
}


@media (max-width:500px ) {
    #title h1{
        color: #0E34A0;
        font-size: 30px;
        text-align:center;
    }

    #image img{
        width:100vw;
        margin:0 auto;
    }

    #tribute-content{
         color: #130d0d;
         width: 80vw; 
         margin: 0 5px;
         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    } 

    #tribute-info h3{
        margin-bottom: 10px;
    }
    #tribute-content li{
        line-height: 30px;
    }
}

